<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236450924796-6a2531p9ueublf7t98opl0tsqt6t5ml1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236450924796-6a2531p9ueublf7t98opl0tsqt6t5ml1</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQk5x4Yg8ZN3OnyLVApkbrqy7gaYv358</string>
	<key>GCM_SENDER_ID</key>
	<string>236450924796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexnuzhnyi.Productable</string>
	<key>PROJECT_ID</key>
	<string>productable-476ab</string>
	<key>STORAGE_BUCKET</key>
	<string>productable-476ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236450924796:ios:674633945c8465fc4aef79</string>
	<key>DATABASE_URL</key>
	<string>https://productable-476ab.firebaseio.com</string>
</dict>
</plist>